<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>[[${welcome}]]</h1>
<form method="post">
    <label>Input your deposit</label>
    <input name="deposit">
    <label>Input percent</label>
    <input name="percent">
    <label>Input year</label>
    <input name="date">
</form>

<p data-th-if="${summa}"> Your summa: [[${summa]]</p>
</body>
</html>